@model GranModelo

<div class="rounded border border-secondary">
    <div class="container">
        <table class="table table-sm table-secondary my-3 table-hover table-striped rounded">
            <thead class="thead-light text-center">
                <tr>
                    <th>Número de Teléfono</th>
                    <th>Compañia</th>
                    <th>Tipo de Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableTelefonos" class="text-center ">
                @if (ViewBag.Telefonos == null)
                {
                    <p id="lblNoTelefonos" class="text-danger font-weight-bold">No hay telefonos</p>

                }
                else
                {
                    @foreach (var tel in (IEnumerable<SistemaAFT.Models.Telefono>)ViewBag.Telefonos)
                    {
                        <tr id="@tel.TelefonoID" class="tablaTelefono-@tel.TelefonoID tablaTelefono">
                            <th>@tel.numero</th>
                            <th>@tel.CompaniaID</th>
                            <th>@tel.Tipo_TelefonoID</th>
                            <th>
                                <button type="button" onclick="editTelefono(this)" data-toggle="modal" data-target="#modalTelefonos" class="btn btn-success" value="@tel.TelefonoID" name="@tel.PersonaID" id="editTelefono">Editar</button>
                                <button type="button" class="btn btn-primary" onclick="detalleTelefono(this)" data-toggle="modal" data-target="#modalTelefonos" value="@tel.TelefonoID" name="@tel.PersonaID">Detalles</button>
                                <button type="button" class="btn btn-danger" onclick="deleteTelefono(this)" value="@tel.TelefonoID">Borrar</button>
                            </th>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>