@model IEnumerable<SistemaAFT.Models.Persona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.correo)-->
                Correo
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.fechaNacimiento)-->
                Fecha de Nacimiento
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.nacionalidad)-->
                Nacionalidad
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Genero)-->
                Género
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Estado_Civil)-->
                Estado Civil
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Tipo_Identidad)-->
                Identificación
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.telefono)-->
                Teléfono
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Tipo_Telefono)-->
                Tipo de Teléfono
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Tipo_Compania)-->
                Compañía
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Tipo_Compania)-->
                Tipo de persona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nacionalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre_Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Civil.Nombre_Edo_Civil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Identidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Telefono.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Compania.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Persona.Tipo_PersonaID)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PersonaID">Edit</a>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.PersonaID">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PersonaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
