@model IEnumerable<SistemaAFT.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de personas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CURP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido Paterno
            </th>
            <th>
                Apellido Materno
            </th>
            <th>
                Correo
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Nacionalidad
            </th>
            <th>
                Género
            </th>
            <th>
                Estado Civil
            </th>
            <th>
                Tipo de Identidad
            </th>
            <th>
                Número de Identificación
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Tipo de Persona
            </th>
            <th>
                Etnia
            </th>
            <th>
                Discapacidad
            </th>
            <th>
                Creado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CURP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido_paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido_materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nacionalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre_Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Civil.Nombre_Edo_Civil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Identidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Persona.Nombre_Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etnia.Pertenece_Etnia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discapacidad.Tiene_Discapacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PersonaID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
