@model SistemaAFT.Models.Solicitud

@{
    ViewData["Title"] = "Borrado";
}

<h1>Borrar</h1>

<h3>¿Estás seguro/a de eliminar ésto?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Year)-->
            Año
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year.YearID)
        </dd class>
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Programa)-->
            Programa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programa.ProgramaID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Componente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Componente.ComponenteID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instancia_Ejecutora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instancia_Ejecutora.Instancia_EjecutoraID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delegacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delegacion.DelegacionID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.ACUSESURI)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SolicitudID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
