@model IEnumerable<SistemaAFT.Models.Telefono>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compania.CompaniaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Telefono.Tipo_TelefonoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.ACUSESURI)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TelefonoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TelefonoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TelefonoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
